.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.col {
  opacity: 0;
  transform: translateY(4em);
}

.animated {
  animation: fade-in .7s ease-out forwards;
}

@keyframes fade-in {
  from {
      opacity: 0;
      transform: translateY(4em);
  }
  to {
      opacity: 1;
      transform: translateY(0em);
  }
}

.featureSvg {
  height: 170px;
  width: 170px;
}
